
.head1 {
            color: blueviolet;
            background-color: hotpink;
            font-size: 90px;
            padding: 100px;
            border: 1px solid green;
            margin: 20px;
            border-radius: 20px;
            
        }
        #para1 {
            color:rgb(20, 173, 220)
        }
        .para2 {
            color: brown;
            position:fixed;
            top:0px;
            left:0px;
            
        }
        .para4 {
            color:gold;
            font-size: 20px;
            position: sticky;
            top:20px;
            left:20px;
            padding: 24px;
            border: 3px solid black;
            margin:50px;
            border-radius: 30px;
        }
        .d1 {
            width:200px;
            height:200px;
            background-color: greenyellow;
            border:3px solid;
            position: relative;
            top:0px;
            left:0px;
            
        }
        .d2 {
            width:200px;
            height:200px;
            background-color: blueviolet;
            border:3px solid;
            position:relative;
            top:10px;
            left:10px;
        }
        .d3 {
            width:200px;
            height:200px;
            background-color: blue;
            border:3px solid;
            position:relative;
            top:50px;
            left:50px;
        }