
.head1 {
            color: blueviolet;
            background-color: hotpink;
            font-size: 90px;
            padding: 100px;
            border: 1px solid green;
            margin: 20px;
            border-radius: 20px;
            
        }
        #para1 {
            color:rgb(20, 173, 220)
        }
        .para2 {
            position:relative;
        }
        .d1 {
            width:200px;
            height:200px;
            border:3px solid greenyellow;
            position: relative;
            top:0px;
            left:0px;
            
        }
        .d2 {
            width:200px;
            height:200px;
            border:3px solid orange;
            position:relative;
            top:25px;
            left:25px;
        }
        .d3 {
            width:200px;
            height:200px;
            border:3px solid navy;
            position:relative;
            top:50px;
            left:50px;
        }