
.head1 {
            color: blueviolet;
            background-color: hotpink;
            font-size: 90px;
            padding: 100px;
            border: 1px solid green;
            margin: 20px;
            border-radius: 20px;
            
        }
        #para1 {
            color:rgb(20, 173, 220)
        }
        .para2 {
            position:relative;
        }
